<!-- BANNER -->
<div class="section-banner">
    <img class="section-banner-icon" src="/img/banner/accounthub-icon.png" alt="accounthub-icon">

    <p class="section-banner-title">Hub Account</p>
    <p class="section-banner-text">Informazioni del Profilo, impostazioni, messaggi e molto altro!</p>
</div>
<!-- FINE BANNER -->