<!DOCTYPE html>
<html lang="it">
<head>
    <title><%= pageTitle %> | EoG Community</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" content="<%= csrfToken %>">
    <link rel="icon" href="/img/emperor2.png">
    
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.min.css">