<!-- PAGE LOADER -->
<div class="page-loader">
    <div class="page-loader-decoration">
        <img src="/img/emperor2.png" style="width: 100%; height: 100%;" alt="">
    </div>

    <!-- INFO -->
    <div class="page-loader-info">
      <p class="page-loader-info-title">Emperor of Gaming</p>
      <p class="page-loader-info-text">Caricamento...</p>
    </div>
    <!-- FINE INFO -->
    
    <!-- INDICATORI CARICAMENTO -->
    <div class="page-loader-indicator loader-bars">
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
      <div class="loader-bar"></div>
    </div>
    <!-- FINE INDICATORI -->
  </div>
  <!-- FINE PAGE LOADER -->