<%- include('./includes/head.ejs') %>
</head>

<body>

    <div class="error-section">
        <p class="error-section-title">OOps!!...</p>

        <div class="error-section-info">
            <p class="error-section-subtitle">Errore 404</p>

            <p class="error-section-text">Sembra che mentre navigavi tu ti sia imbattuto in un buco nero
                    che ha assorbito la pagina che stavi cercando! Ma niente panico perché puoi tornare
                    indietro!</p>

            <p class="error-section-text">Se il problema persiste, non esitare a <a href="/contact-us">contattarci</a>!</p>

            <a class="button medium primary" href="/">Torna alla home</a>
        </div>
    </div>

<%- include('./includes/end.ejs') %>