<%- include('./includes/head.ejs') %>
    </head>

    <body>

        <div class="error-section">
            <p class="error-section-title">Oopss!!</p>

            <div class="error-section-info">
                <p class="error-section-subtitle">C'è stato un problema!</p>

                <p class="error-section-text">A quanto pare stiamo attualmente riscontrando problemi tecnici, ma siamo
                    già all'opera per risolveri!</p>

                <p class="error-section-text">Se il problema persiste, non esitare a <a
                        href="/contact-us">contattarci</a>!</p>

                <a class="button medium primary" href="/">Torna alla home</a>
            </div>
        </div>

<%- include('./includes/end.ejs') %>