/*  CSS DEL TEMA WHITE  */

/*------------------------------------------------------------------
  [LISTA ELEMENTI]

  1. Stile Principale, le parti fondamentali del sito
  2. Scrollbar, la barra del browser a destra utilizzata per scendere
  3. Header, il menu in alto di ogni pagina
  4. Footer, la parte finale del sito
  5. Pulsanti
  6. Cards
  7. Nav
  8. Section
  9. Header Pagine
  10. Post
  11. Widget
  12. Titoli
  13. Error 404
  14. Carousel
  15. Sidebar
  16. Utils
  17. Responsive
-------------------------------------------------------------------*/


/*#region ## STILE PRINCIPALE ##*/
body {
    background: #FFF;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.5;
    color: white
}

.loader-wrapper {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    display:flex;
    justify-content: center;
    align-items: center;
}

a {
    color: black;
    -webkit-transition: .25s;
    transition: .25s
}

button, a:hover, a:active, a:focus {
    color: #2776dc;
    text-decoration: none;
    outline: 0 !important
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: "Roboto", sans-serif, "Times New Roman";
    margin: 0;
    font-weight: normal !important
}

p {
    margin-bottom: 20px;
    line-height: 1.6
}

img {
    max-width: 100%;
    height: auto
}

i {
    display: inline-block
}

.bg {
    background-color: white !important
}

label {
    color: black;
}

input {
    color: black;
}

/*#endregion*/

/*#region ## SCROLLBAR ##*/

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(24, 26, 27);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*#endregion*/

/*#region ## HEADER ##*/

header {
    width: 100%;
    height: 60px;
    background: white;
    position: relative;
    z-index: 999
}

header .logo {
    display: inline-block;
    float: left;
    height: 60px;
    line-height: 60px;
    padding: 0 15px 0 0 !important;
    background: transparent !important
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

header a {
    line-height: 60px;
    padding: 0 12px;
    color: #b1b1b1;
    font-size: 15px;
    font-weight: 500;
    display: inline-block
}

header a.active, header a:hover, header a:focus, header a:active {
    color: #FFF;
    font-size: 15px;
    padding: 0 12px
}

header .nav-right {
    float: right;
    position: relative
}

/*#endregion*/

/*#region ## FOOTER ##*/

footer {
    background: white;
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    position: relative
}

footer p {
    color: black;
    font-size: 14px;
    line-height: 22px
}

footer a, footer a:hover {
    color: black;
}

.footer-bottom {
    padding: 20px 0 20px 0;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 14px
}

.footer-bottom ul {
    margin-bottom: 10px
}

.footer-bottom ul a {
    color: black !Important;
    background: none !important
}

/*#endregion*/

/*#region ## PULSANTI ##*/

.btn {
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 10px 15px;
    -webkit-transition: .25s;
    transition: .25s
}

.btn-lg > .btn {
    padding: 13px 20px;
    font-size: 15px
}

.btn-rounded {
    border-radius: 30px !important;
    -webkit-border-radius: 30px !important
}

.btn.btn-primary {
    background-color: #2776dc
}

.btn.btn-primary:hover, .btn.btn-primary:active, .open .btn.btn-primary, .btn.btn-primary.hover {
    background-color: #5299f5 !important
}

/*#endregion*/

/*#region ## FORMS ##*/

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

/*#endregion*/

/*#region ## CARDS ##*/

.card {
    padding: 0;
    margin-bottom: 35px;
    display: block
}

.card .card-img {
    position: relative;
    display: block
}

.card .card-img img {
    width: 100%;
    height: auto;
    border-radius: 0;
    -webkit-border-radius: 0
}

.card .caption p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 15px
}

.card .card-title {
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    font-weight: 500 !important;
    line-height: 1.1;
    white-space: nowrap;
}

.card .caption {
    padding: 25px 20px;
    background: #FFF;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #dcdcdc;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07);
    -webkit-transition: .25s;
    transition: .25s;
    color: #6d6d6d;
    border-radius: 0;
    -webkit-border-radius: 0
}

.card .caption ul {
    font-size: 13px;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0
}

.card .caption ul li:first-child {
    padding-left: 0
}

.card .caption ul li {
    display: inline-block;
    padding-left: 15px
}

.card .caption ul li i {
    margin-right: 5px
}

/*#endregion*/

/*#region ## NAV ##*/

.mobile-only {
    visibility: hidden;
}

nav {
    display: inline-block;
    padding: 0;
    float: left
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

nav ul li {
    float: left;
    padding: 0
}

nav ul li a {
    color: black;
    font-size: 15px;
    font-weight: 500;
    position: relative
}

nav ul li a.active, nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    color: dimgrey;
}

nav > .nav-control > ul > li.dropdown > a:after {
    content: "\f078";
    font-size: 8px;
    font-family: "FontAwesome", serif;
    margin-left: 6px;
    float: right
}

nav > .nav-control > ul > li.dropdown > a:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 8px;
    bottom: -8px;
    z-index: 998;
    left: 0
}

nav ul li a i {
    font-size: 10px;
    display: inline-block
}

nav ul li .dropdown-menu {
    background: #fff;
    margin-top: 0;
    z-index: 999;
    top: 60px;
    padding: 12px 0 15px 0;
    min-width: 230px;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    -webkit-transition: transform .3s;
    transition: transform .3s
}

nav ul li .dropdown-menu li a {
    font-weight: normal;
    padding: 8px 25px;
    margin: 0 !important;
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.7);
    line-height: inherit !important;
    text-shadow: none;
    text-transform: none;
    background-color: transparent;
    border: 0 !important;
    display: block;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-transition: 0s;
    transition: 0s
}

nav ul li .dropdown-menu li a:hover, nav ul li .dropdown-menu li.active a, nav ul li .dropdown-menu li a:focus {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(245, 245, 245, 0.7);
    -webkit-transition: 0s;
    transition: 0s;
    -webkit-border-radius: 0;
}

nav ul li .dropdown-menu > li {
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important
}

nav ul li .dropdown-menu.default li {
    width: 100%
}

nav .container {
    position: relative
}

nav ul li .dropdown-menu > li i {
    margin: 0;
    padding: 0;
    width: 20px
}

.nav-open {
    overflow: hidden
}

.nav-open .modal-backdrop {
    z-index: 1000
}

.nav-open nav {
    transform: translateX(0);
    -webkit-transform: translateX(0)
}

.nav-open #body, .nav-open header .nav-right, .nav-open header .bar, .nav-open header .logo, .nav-open footer {
    -webkit-transition: .25s;
    transition: .25s;
    transform: translateX(250px);
    -webkit-transform: translateX(250px)
}

.nav-open span.bar:before {
    content: "\f2d7"
}

/*#endregion*/

/*#region ## SECTION ##*/

section {
    padding: 50px 0
}

.background-image {
    position: relative;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;
    padding: 80px 0;
    overflow: hidden
}

.background-image.parallax {
    background-position: 50% 0
}

.background-overlay {
    background: white;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block
}

/*#endregion*/

/*#region ## HEADER PAGINE ##*/

section.pageheader {
    height: 260px;
    position: relative;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 60px 0
}

section.pageheader .pageheader-bg {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 2
}

section.pageheader .container.relative {
    z-index: 3;
    height: 100%
}

section.pageheader > .container {
    text-align: center;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    display: table
}

section .page-title {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 0
}

/*#endregion*/

/*#region ## POST ##*/

.post {
    text-align: left;
    margin-bottom: 60px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee
}

.post-fl {
    border: 0;
    padding-bottom: 0
}

.post .post-header {
    margin: 0 0 20px 0
}

.post-header:after, .post-header:before, nav:after, nav:before, section:after, section:before, form:after, form:before, .title:after, .title:before, .headline:before, .headline:after, .page-header:after, .page-header:before, .forum .forum-group:after, .forum .forum-group:before, .forum-post:after, .forum-post:before, .forum-footer:after, .forum-footer:before {
    display: table;
    content: " "
}

.post-header:after, nav:after, section:after, .title:after, form:after, .headline:after, .page-header:after, .forum .forum-group:after, .forum-post:after, .forum-footer:after {
    clear: both
}

.post .post-title a {
    color: rgba(39, 39, 39, 0.8)
}

.post-thumbnail {
    margin-bottom: 30px;
    position: relative
}

.post-thumbnail img {
    width: 100%
}

.post-thumbnail .label {
    position: absolute;
    bottom: 15px;
    left: 15px
}

.post-thumbnail .meta a {
    color: #FFF
}

.post-thumbnail .meta {
    position: absolute;
    bottom: 15px;
    right: 20px;
    color: #FFF;
    font-size: 14px
}

.post .post-caption {
    background-color: #141619;
    padding: 12px 20px;
    color: #FFF;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}

.post .post-title h1, .post .post-title h2, .post .post-title h3, .post .post-title h4, .post .post-title h5, .post .post-title h6 {
    margin-bottom: 0;
    font-weight: 700 !important
}

.post.post-single .post-title h1, .post.post-single .post-title h2, .post.post-single .post-title h3, .post.post-single .post-title h4, .post.post-single .post-title h5, .post.post-single .post-title h6 {
    text-transform: uppercase
}

.post .post-header.post-author {
    margin-top: 0
}

.post .post-header.post-author .author {
    float: left;
    display: inline-block
}

.post .post-header.post-author img {
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    -webkit-border-radius: 50%
}

.post .post-header.post-author .post-title {
    float: left;
    width: 85%;
    padding-left: 20px
}

.post .post-title h2 {
    font-size: 26px
}

.post .post-meta {
    list-style-type: none;
    margin-top: 5px;
    padding: 0;
    font-size: 13px
}

.post .post-meta, .post .post-meta a {
    color: rgba(0, 0, 0, .5);
    font-weight: 400
}

.post .post-meta a:hover, .post .post-title a:hover {
    color: #2776dc
}

.post .post-meta i {
    margin-right: 5px
}

.post .post-meta li {
    display: inline
}

.post .post-meta li:after {
    content: "|";
    margin: 0 6px
}

.post .post-meta li:last-child:after {
    content: ""
}

.post.post-single {
    padding-bottom: 0;
    margin-bottom: 30px;
    border-bottom: 0
}

.post.post-single .post-header span.label {
    margin: 7px 10px 0 -70px;
    padding: 15px 0;
    text-align: center;
    width: 40px;
    border-radius: 0;
    -webkit-border-radius: 0;
    display: block
}

.panel.panel-post {
    margin-bottom: 40px
}

.panel.panel-post .panel-body {
    padding: 0
}

.panel.panel-post .post {
    padding: 20px;
    margin: 0;
    border-bottom: 0
}

.panel.panel-post .post .post-header.post-author img {
    width: 55px;
    height: 55px
}

.panel.panel-post .post .post-header.post-author .post-title {
    padding-left: 15px;
    text-transform: inherit
}

.panel.panel-post .post .post-header {
    margin-bottom: 15px
}

.panel.panel-post .post .post-thumbnail {
    margin-bottom: 20px
}

/*#endregion*/

/*#region ## WIDGETS ##*/

.widget {
    margin-bottom: 50px
}

.widget:last-child {
    margin-bottom: 0
}

.widget .title {
    padding: 2px 0 2px 20px;
    border: 0;
    font-size: 16px;
    text-align: left;
    margin: 0 0 25px 0;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    border-left: 4px solid #2776dc
}


.widget .card {
    margin-bottom: 20px !important;
    height: auto !important
}

.widget .card .card-img img {
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 100%
}

.widget .card .caption {
    padding: 12px 0 12px 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    background: transparent;
    border: 0 !important
}

.widget .card .card-title {
    font-size: 16px
}

/*#endregion*/

/*#region ## TITOLI ##*/

.title {
    padding: 0 0 40px 0;
    position: relative;
    text-align: center
}

.title p {
    margin: 15px 0 0 0
}

.title h1 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-top: 10px;
    font-size: 28px
}

.title h2 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-top: 10px;
    font-size: 26px
}

.title h3 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-top: 10px;
    font-size: 24px
}

.title h4 {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600 !important;
    margin-top: 10px;
    font-size: 22px
}

.title h4 i {
    margin-right: 20px;
    margin-top: -10px;
    color: #FFF;
    float: left;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 0 solid #2776dc;
    background: #2776dc;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3)
}

/*#endregion*/

/*#region ## ERROR 404 ##*/

.error-404 {
    padding: 100px 0 180px 0;
    text-align: center;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 493px
}

.error-404 .title {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 25px;
    margin-bottom: 30px
}

.error-404 .title h4 {
    font-size: 30px
}

/*#endregion*/

/*#region ## CAROUSEL ##*/

.carousel .carousel-caption {
    text-align: left;
    padding-bottom: 0;
    padding-top: 0;
    left: 10px;
    bottom: 10px;
    width: 100%;
    margin: 0
}

.carousel .carousel-caption .carousel-title {
    display: inline-block;
    text-shadow: none;
    font-weight: 500 !important;
    background-color: #141619;
    padding: 12px 20px;
    color: #FFF;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 4px;
    -webkit-border-radius: 4px
}

.carousel .carousel-caption p {
    padding: 10px 20px;
    background: #1b1b1b;
    text-shadow: none;
    color: #FFF;
    margin: 0
}

.carousel-indicators {
    right: 0;
    bottom: 0
}

.carousel-fade {
    background: #000
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity
}

.carousel-fade .carousel-inner .item, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    opacity: 0
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
    opacity: 1
}

.carousel-fade .carousel-inner .next, .carousel-fade .carousel-inner .prev, .carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.carousel .carousel-indicators li {
    border: 0;
    background-color: rgba(255, 255, 255, 0.5)
}

.carousel .carousel-indicators li.active {
    border: 0;
    background-color: #FFF;
    width: 10px;
    height: 10px;
    margin: 1px
}

.carousel-control.right, .carousel-control.left {
    background: 0
}

.full-carousel {
    border-bottom: 0;
    background-color: #000
}

.full-carousel .carousel-indicators {
    bottom: 40px
}

.full-carousel img {
    opacity: .4;
    max-width: inherit !important
}

.full-carousel .container {
    color: #FFF;
    position: absolute;
    z-index: 999;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    text-align: center;
    -webkit-transition: .25s;
    transition: .25s;
    text-shadow: none;
    display: table;
    margin: auto
}

.full-carousel .container .carousel-caption {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    opacity: 0;
    text-align: center
}

.full-carousel .item.active .carousel-caption {
    opacity: 1
}

.full-carousel .carousel-caption h1 {
    color: #fff;
    font-size: 40px;
    padding: 15px 20px 0 20px;
    margin: 0;
    display: block;
    text-transform: uppercase;
    font-weight: 700 !important;
    text-shadow: none
}

.full-carousel .carousel-caption p {
    background: 0;
    padding: 13px 15px;
    margin-top: 0;
    display: block;
    color: #e4e4e4;
    font-size: 15px;
    font-weight: 400
}

.full-carousel .carousel-caption .btn {
    padding: 17px 30px !important;
    text-transform: uppercase;
    margin-top: 50px
}

.full-carousel .carousel-control {
    z-index: 99;
    width: 10%
}

.full-carousel .item .carousel-img {
    width: 100%;
    height: 100%;
    background: transparent;
    background-size: cover
}

.full-carousel .item .carousel-overlay {
    position: absolute;
    z-index: 999 !important;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45)
}

.carousel-control {
    opacity: 0
}

/*#endregion*/

/*#region ## SIDEBAR */

.sidebar {
    display: table
}

.sidebar > .leftside {
    padding-right: 40px;
    position: relative;
    display: table-cell;
    vertical-align: top;
    float: none
}

/*#endregion*/

/*#region ## UTILS ##*/

code {
    background-color: #e6f1ff;
    color: #2776dc;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    padding: 3px 6px
}

iframe {
    width: 100%;
    border: 0
}

.relative {
    position: relative
}

.fixed-header {
    padding-top: 60px;
    -webkit-transition: .25s;
    transition: .25s
}

.fixed-header header {
    position: fixed;
    z-index: 1010;
    top: 0
}

#body {
    min-height: 493px
}

/*#endregion*/

/*#region ## RESPONSIVE ##*/

@media (max-width: 1330px) {
    .full-carousel .carousel-caption h1 {
        font-size: 32px
    }

}

@media (max-width: 1024px) {
    header .container {
        padding: 0;
        height: 30px;
    }

    header > a span {
        display: none
    }

    .header .logo {
        margin-right: 0;
        display: block
    }

    .card-img img {
        max-width: 100%;
        width: 100%
    }

    .owl-carousel .card-img img {
        width: auto
    }

    .container {
        width: 100% !important
    }
}

@media (max-width: 990px) {
    .mobile-only {
        visibility: visible;
    }

    .nav-right {
        visibility: hidden;
    }

    .fixed-header {
        padding-top: 50px
    }

    header {
        height: 50px
    }

    header .nav-right a {
        line-height: 50px
    }

    header .container {
        padding: 0;
        height: 10px;
    }

    .fixed-widget .widget .panel, header .nav-dropdown {
        display: none !important
    }

    header .logo {
        text-align: center !important;
        display: inline-block;
        width: 100%;
        position: absolute;
        left: 0;
        height: 50px;
        line-height: 50px;
        float: none !important;
        padding: 0 10px !important;
        margin: 0 auto;
        z-index: 1;
    }

    header .logo span {
        font-size: 20px;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        line-height: 50px
    }

    header .logo img {
        height: 50px !important
    }

    header .nav-right a {
        color: #FFF
    }

    header .nav-right {
        z-index: 2;
        position: relative
    }

    span.bar {
        width: 50px;
        height: 50px;
        display: block !important;
        float: left;
        z-index: 2;
        position: relative
    }

    span.bar:before {
        content: "\f20e";
        color: #FFF;
        position: absolute;
        top: 0;
        left: 0;
        line-height: 50px;
        padding: 0 15px;
        font-size: 26px;
        cursor: pointer
    }

    header .nav-right .dropdown-menu {
        top: 50px
    }

    .nav-open {
        overflow: hidden
    }

    .nav-open .modal-backdrop {
        z-index: 1000
    }

    .nav-open nav {
        transform: translateX(0);
        -webkit-transform: translateX(0)
    }

    .nav-open #body, .nav-open header .nav-right, .nav-open header .bar, .nav-open header .logo, .nav-open footer {
        -webkit-transition: .25s;
        transition: .25s;
        transform: translateX(250px);
        -webkit-transform: translateX(250px)
    }

    .nav-open span.bar:before {
        content: "\f2d7"
    }

    header .nav-right, header .bar, header .logo, footer, #body {
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -webkit-transition: .25s;
        transition: .25s
    }

    nav .nav-control {
        position: relative;
        overflow-Y: scroll;
        height: -moz-calc(100%);
        height: -webkit-calc(100%);
        height: calc(100%)
    }

    nav {
        z-index: 999 !important;
        display: block !important;
        position: fixed;
        background: #1c1e21;
        transform: translateX(-250px);
        -webkit-transform: translateX(-250px);
        width: 250px;
        -webkit-transition: .25s;
        transition: .25s;
        margin: 0;
        height: 100%
    }

    nav ul li a, nav ul li a:hover, nav ul li a:focus, nav ul li.dropdown.open > a, nav ul li a:active, nav ul li.active a {
        padding: 16px 18px 13px 18px !important;
        margin: 0 !important;
        line-height: inherit;
        font-size: 13px;
        font-weight: normal;
        border: 0 !important;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        text-transform: uppercase
    }

    nav ul li a:hover, nav ul li a:focus, nav ul li.dropdown.open > a {
        background: #1a1b1e
    }

    nav li a {
        color: rgba(255, 255, 255, 0.8) !important;
        border-bottom: 0 solid rgba(0, 0, 0, 1) !important
    }

    nav li, nav li a {
        display: block !important;
        width: 100% !important
    }

    nav ul li .dropdown-menu {
        transform: none !important;
        -webkit-transform: none !important;
        display: none;
        z-index: inherit !important;
        background: #1a1b1e !important;
        padding: 0 0 15px 0 !important
    }

    nav ul li .dropdown-menu {
        border: 0 !important;
        position: relative !important;
        min-width: 100% !important;
        width: 100% !important;
        box-shadow: none !important;
        margin: 0 !important;
        top: 0 !important;
        left: 0
    }

    nav ul li .dropdown-menu li a {
        background: transparent !important;
        border-radius: 0 !important;
        padding: 12px 20px !important;
        color: rgba(255, 255, 255, 0.6) !important;
        font-size: 13px !important
    }

    .dropdown-menu a:hover, nav ul li .dropdown-menu li a:hover, nav ul li .dropdown-menu li.active a, nav ul li .dropdown-menu li a:focus {
        padding: 12px 20px !important;
        background: rgba(0, 0, 0, 0.1) !important;
        color: rgba(255, 255, 255, 0.6) !important
    }

    .dropdown-menu a, .dropdown-menu a:hover {
        padding-left: 50px !important
    }

    nav ul li .dropdown-menu li a:hover {
        background-color: #141619 !important;
    }

    .dropdown-submenu > .dropdown-menu {
        left: 0
    }

    #body {
        margin: 0 !important
    }

    .background-image {
        padding: 0 !important
    }

    .full-carousel .item {
        height: 500px
    }

    .full-carousel .carousel-caption h1 {
        font-size: 29px;
        margin-bottom: 20px;
        line-height: 34px
    }

    .full-carousel .carousel-caption {
        font-size: 15px !important;
        width: 100% !important;
        text-align: center !important;
        left: 0
    }

    .full-carousel .carousel-caption p {
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px
    }

    .full-carousel img {
        width: auto !important;
        max-width: inherit !important;
        position: absolute;
        left: -50%
    }

    .full-carousel .carousel-caption .btn {
        margin-top: 50px
    }

    .title {
        padding-bottom: 40px
    }

    .error-404 .title h4, .title h4 {
        font-size: 22px
    }

    .error-404 .title h4 i, .title h4 i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 22px;
        margin-top: -10px
    }

    .widget {
        width: 100%
    }

    .sidebar {
        display: block
    }

    .sidebar > .leftside {
        border-right: 0 solid #eee;
        padding-right: 15px;
        display: block
    }

    .background-image .container {
        padding: 0 !important
    }

    footer .widget {
        padding-top: 0 !important
    }

    footer .widget > div {
        margin-bottom: 30px
    }
}

@media (max-width: 590px) {
    .full-carousel img {
        left: -100%
    }

    section.pageheader .page-header .page-title {
        font-size: 25px
    }

    .post .post-title h2, .post.post-lg .post-title h2, .post .post-title h2 {
        font-size: 25px
    }

    .post .post-title h3 {
        font-size: 20px
    }

    .post .post-header.post-author .post-title {
        width: 100%;
        padding-left: 0 !important
    }

    footer .widget .title {
        margin-bottom: 15px
    }
}

@media (max-width: 460px) {
    section {
        padding: 20px 0 !important
    }

    .post .post-title h1 {
        font-size: 32px !important
    }

    .full-carousel img {
        height: 100% !important;
        left: -60%
    }

    section.pageheader .page-title {
        font-size: 25px
    }

    section.pageheader p {
        font-size: 13px
    }
}

/*#endregion*/