<%- include('../includes/head.ejs') %>
</head>

<body>

    <div class="error-section">
          <p class="error-section-title">Attivazione</p>
        

        <div class="error-section-info">
            <p class="error-section-subtitle">Attivazione Account</p>

            <p class="error-section-text"><%= activationMessage %></p>

          

            <a class="button medium primary" href="/">Torna alla home</a>
        </div>
    </div>

<%- include('../includes/end.ejs') %>